@import '../../scss/variables';

h2 {
  text-align: right;
  margin-bottom: 5px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

table {
  width: 100%;
  border-spacing: 0;

  tr {
    &:first-child {
      background-color: $main-color;
    }

    &:nth-child(even) {
      background-color: #eee;
    }

    th {
      text-align: center;
      color: white;
      font-weight: 400;
    }

    th,
    td {
      padding: 5px;

      @media (max-width: 768px) {
        font-size: 8px;
      }
    }

    td {
      &:last-child {
        text-align: center;
      }
    }
  }

  a {
    color: $main-color;

    &:visited {
      color: darken($main-color, 15%);
    }
  }

  input[type='checkbox'] {
    accent-color: $main-color;
  }
}
